# Visual Studio / .NET build output
.vs/
bin/
obj/
*.user
*.suo
*.rsuser

# Runtime data created by the application (never commit student data)
**/Database/*.accdb
**/Database/*.laccdb
**/Photos/
**/Documents/
**/Backups/
**/Logs/
